/* RESET */

*, *:before, *:after {
  box-sizing: border-box;
}

html,
body,
h1,
nav,
section,
div,
p {
  margin: 0;
  padding: 0;
}

/* GLOBAL */

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
@media (max-width: 1400px) {
  html {
    font-size: 14px;
  }
}

/* NAVBAR */
nav {
  background-color: rgba(63, 64, 63, 1);
  height: 70px;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}

nav > div {
  display: flex;
  align-items: center;
}

.home-link {
  margin-left: 1rem;
}

.home-link img {
  width: 50px;
  transition: width 0.1s linear, height 0.4s linear; 
}

.home-link img:hover {
  width: 55px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  margin: 0 1rem;
  background-color: rgba(63, 64, 63, 1);
  border: 3px solid rgba(63, 64, 63, 1);
  width: 10ch;
  text-align: center;
  border-radius: 5px;
  padding: 2% 5%;
  /* background: red; */
}

.nav-links a:hover {
  border: 3px solid #fff;
  background: linear-gradient(to top right, rgba(63, 64, 63, 1) 5%, #00d4ff);
}

.nav-links {
  min-width: 20%;
  justify-content: space-evenly;
}

/* MAIN */
main.hero-section {
  background: linear-gradient(to bottom,#fff 60%, #090979);
  /* background: #ffdd88; */
  min-height: 800px;
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 2fr 1fr; 
  grid-template-areas: "a a"
                       "b c";                 
}

@media (max-width: 900px) {
  main.hero-section {
    grid-template-areas: "a"
                         "c" 
                         "b";
    grid-template-columns: auto;
    grid-template-rows: auto;
    text-align: center;
  }
}



.main-title-container {
  grid-area: a;
  display: flex;
  align-items: center;
  padding-left: 3rem;
}

h1 {
  font-size: 3.5rem;
  height: 8rem;
}


.title-divider {
  display: none;
}

span.title-passion {
  line-height: 4rem;
  background: linear-gradient(to left, #090979, #00d4ff);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: 
  text;
  color: transparent;
}

span.cursor {
  width: 4px;
  height: 3rem;
  border: 0.5px solid black;
  background-color: black;
  position: relative;
  margin-left: 10px;
  opacity: 1;
  display: none;
}

span.cursor.active {
  display: inline;
}

span.cursor.flickering {
  animation: 1s cursor infinite step-start;
}

@media (max-width: 900px) {
  
  .title-divider {
    display: inline;
  }

}

@keyframes cursor {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hero-img-container {
  grid-area: c;
}

.hero-img-container > img {
  position: relative;
  bottom: 20%;
  padding-right: 1rem;
}

@media (max-width: 1200px) {
  .hero-img-container > img {
    bottom: 10%;
  }
}
@media (max-width: 900px) {
  .hero-img-container > img {
    position: static;
  }
  .main-title-container {
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: left;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
  .main-title-container {
    padding-left: 5vw;
    margin-bottom: 0px;
  }
}

.hero-text {
  grid-area: b;
  text-align: justify;
  text-justify: inter-word;
  display: flex;
  flex-direction: column;
  
  font-size: 1.5rem;
  line-height: 2rem;
  width: 80%;
  margin-left: 3rem;
}

.hero-text p {
  background:  linear-gradient(white, white) padding-box,
  linear-gradient(to left, #090979, #00d4ff) border-box;
  border: 5px solid transparent;
  border-radius: 20px;
  position: relative;
  top: 3rem;
  padding: 30px 20px;
}


/* ABOUT ME */

.about-me {
  background: #fff;
  display: flex;
  align-items: center;
  margin-top: 40px;
}


.about-me-text {
  width: 50%;
  max-width: 800px;
  font-size: 1.2rem;
  line-height: 2rem;
  padding: 40px 30px 20px 150px;
  text-align: justify;
  text-justify: inter-word;
  transition: left 1s ease-out, right 1s ease-out;
}

img + .about-me-text {
  padding: 40px 150px 20px 30px;
}

@media (max-width: 1200px) {
  .about-me-text {
    padding: 10px 30px;
  }

  img + .about-me-text {
    padding: 10px 30px;
  }
}

@media (max-width: 900px) {
  .hero-text {
    width: 90%;
    margin: 0 auto;
  } 
  .about-me-text {
    padding: 10px 30px;
  }

  img + .about-me-text {
    padding: 10px 30px;
  }
}

.about-me img {
  height: 300px;
  width: 50%;
  padding: 2rem;
  position: relative;
  opacity: 0;
}

@media (max-width: 700px) {
  .about-me {
    flex-direction: column;
  }

  .about-me img, .about-me-text {
    width: 80%;
  }

  .about-me > img {
    order: 2;
  }

  .about-me img + .about-me-text {
    order: 1;
  }
}

.about-me img:first-child {
  transition: opacity 1s linear;
}

.about-me div + img {
  transition: opacity 1s linear;
}


/* FOOTER */
footer {
  height: 140px;
  background-color: #ffdd88;
  margin-top: 40px;
}




