---
import hello from "../images/about-me-hello.svg";
import roadAhead from "../images/road-ahead.svg";
---


<div class="about-me-container">
  <section class="about-me">
    <div class="img-container">
      <img src={hello}>
    </div>
    <div class="about-me-text">
      <h2>About me</h2>
      <p>I graduated in 2023 from Aalto University School of Business majoring in Business Analytics. During my studies, I found an unexpected passion for programming and tech, and completed a master level minor in Computer Science in the Web Technologies, Applications and Science study track. I also have a study place at the mathematics department in the University of Helsinki, where I have taken courses in the Theory of Computation  track. I love learning and creating new things, and the world of web development is the perfect place to get to do both of those things!</p>
    </div>
    
    
  </section>
  <section class="about-me">
    <div class="about-me-text">
      <h2>The road ahead</h2>
      <p>After graduating, I have been studying full time to strenghten my web development and programming skills with the goal of getting my foot in the industry. Competing against Computer Science majors and more experienced programmers, I understand that this will not be easy. However, I know that in the end my drive and relentless work ethic will get me there. Currently I am working on enhancing my core web dev skills with HTML, CSS and JavaScript, getting more hands-on experience with React and Node.js, and diving into TypeScript. To my future employer I can promise one thing: I will never stop learning and improving!</p>
    </div>
    <div class="img-container">
      <img src={roadAhead}>
    </div>
    
  </section>
</div>

<style>


  
.about-me {
  width: 100%;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

section:last-child {
  margin-bottom: 4rem;
}


.about-me-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
  text-justify: inter-word;
  transition: left 1s ease-out, right 1s ease-out;
}

.about-me-text p {
  width: 60%;
  min-width: 300px;
}

.img-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 900px) {
  .hero-text {
    width: 90%;
    margin: 0 auto;
  } 
  .about-me-text {
    padding: 10px 30px;
  }

  img + .about-me-text {
    padding: 10px 30px;
  }
}

.about-me img {
  /* height: 300px; */
  width: 60%;
  
  max-width: 800px;
  opacity: 0;
}

@media (max-width: 1000px) {
  .about-me {
    flex-direction: column;
  }

  .about-me-text {
    width: 100%;
  }

  .img-container {
    width: 100%;
    margin-top: 1rem;
  }


  .about-me .img-container {
    order: 2;
  }

  .about-me img + .about-me-text {
    order: 1;
  }
}

@media (max-width: 1300px) {
  .about-me-text p, 
  .img-container img {
    width: 70%;
  }
  
}

img {
  transition: opacity 1s linear;
}
</style>