<footer>
  <div class="contact">
    <p>Email: turunenv@outlook.com</p> 
    <p>Github: <a href="https://github.com/turunenv" target="_blank">turunenv</a></p>
  </div>

</footer>

<style>
footer {
  color: #fff;
  font-size: 1.3rem;
  height: 140px;
  background-color: #3f403f;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact p:first-child {
  margin-bottom: 0.5rem;
}

.contact a {
  color: white;
}
</style>