<nav>
  <div class="home-link">
    <a href="/">
      <img src="images/icons/home.svg" alt="Home" class="home-icon">
    </a>
  </div>
  <div class="nav-links">
    <a href="/projects">Projects</a>
    <a href="/blogs">Blogs</a>
  </div>
</nav>