---
import Footer from "../components/Footer.astro";
import Navigation from "../components/Navigation.astro";

import "../styles/global.css";
const { pageTitle } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{pageTitle}</title>
</head>
<body>
  <Navigation />
  
  <slot />

  <Footer /> 
</body>
</html>