---
import BaseLayout from "./BaseLayout.astro";
const { pageTitle } = Astro.props;
---

<BaseLayout pageTitle={pageTitle}>
  <div class="background">
    <div class="content-wrapper">
      <h1 class="content-header">{pageTitle}</h1>
      <slot />
    </div>
  </div>
</BaseLayout>

<style>
  .content-header {
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 0px;
    text-align: center;
    margin-top: 2rem;
  }
  .background {
    background-color: #ffdd88;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 80vh;
  }
  .content-wrapper {
    width: 80%;
    max-width: 1000px;
  }
</style>